
<h1>Hello World</h1>
<a href="/demo/hello">Hello page 1</a> <br />
<%=link_to('Hello Page 2', {:action => 'hello'})%><br /> 
<%=link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20})%><br /> 
<%=link_to('Roar', '#', :id => "jsRoar") %>
<%= javascript_pack_tag 'demo', 'data-turbolinks-track': 'reload' %>


<a href="plus_sign.png" data-width="700" data-height="700" class="product-image__body" target="_blank">
</a>
<%= image_tag('plus_sign.png') %>