<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-whatever="@fat">Add Subject Using Modal</button>
<div class="modal fade" id="myModal"  role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Subject</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(@subject,:method => 'post')do |f| %>
            <%= render(:partial => 'form',:locals => {:f => f}) %>
             
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit("Create Subject", class: "btn btn-primary")%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to("BACK TO LIST", subjects_path, :class => 'back-link')%>
<div class="subject new">
  <h1>Create Subject</h1>
  <%= form_for(@subject,:method => 'post')do |f| %>
  <%= render(:partial => 'form',:locals => {:f => f}) %>
  <div class="form-buttons">
    <%= f.submit("Create Subject")%>
  </div>
  <%end%>
</div>