<!DOCTYPE html>
<html>
  <head>
    <title>CMS: <%=@page_title || "admin_area"%></title>
    
    <style>
      span.status {display: block; width: 10px; height: 10px;
      margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
      span.status.true {background: green; color: green; }
      span.status.false {background: red; color: red; }
    </style>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.2.min.js" %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  </head>

  <body>
    <% if !flash[:notice].blank?%>
    <div class ="notice">
      <%= flash[:notice] %>
    </div>
    <%end%>
    <%= yield %>
  </body>
</html>